.darkBG {
  background-color: $bgDark;
  color: $textLight;
}

.navDark {
  background-color: #171C1E ;
}

.buttom {
  padding: .6rem 1.8rem;
  border : none;
  background-color: teal;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.025rem;
  cursor: pointer;
  outline: none;
}