nav {
  background-color: #879BA2;
}

ul a {
  color: inherit;
  // font-size: $fontSize;
  line-height: $fontSize * 1.4;
}


h1 {
  font: {
    size : $heading-1;
    family : $fontHeading;
  }
  line-height: $heading-1 * 1.3;
}