- siteName = 'JonaMusic'
- pageTitle = 'Home'
- twitterAccount = '@JonaMusic'
- instagramAccount = '@JonaMusic'
- youtube = 'JonaMusic'
- pathIcons = '/assets/images/icons/'
- pathImages = '/assets/images/'

- 
  pages = [
    {
      title : 'Instrumentos',
      url : '/instrumentos',
      child : [
        {
          title : 'Viento',
          url : '/instrumentos/viento'
        },
        {
          title : 'Cuerda',
          url : '/instrumentos/cuerda'
        },
        {
          title : 'Percusión',
          url : '/instrumentos/percusion'
        }
      ]
    },
    {
      title : 'Efectos',
      url : '/efectos',
      child : []
    },
    {
      title : 'Luces',
      url : '/luces',
      child : []
    },
    {
      title : 'Sonido',
      url : '/sonido',
      child : []
    },
    {
      title : 'Contacto',
      url : '/contacto',
      child : []
    },
    {
      title : 'Ayuda',
      url : '/ayuda',
      child : []
    },
    {
      title : 'Acerca de Nosotros',
      url : '/acerca',
      child : []
    }
  ]