// variables heading en text

$fontSize :  1rem;

$heading-1 : 2rem ;
$heading-2 : 1.3rem ;
$heading-3 : 1rem ;
$heading-4 : 0.90rem ;
$heading-5 : 0.75rem ;

$textBig : 1.25rem ;
$textMedium : 1.2rem ;
$textNormal : 1rem ;
$textSmall : 0.90rem ;
$textSmaller : 0.75rem ;

