// Principals colors

$primaryColor : #1D4D06 ;
$secundaryColor : #561406 ;
$tertiaryColor : #F2CC0D ;
$bgDark : #252D30;
$bgLight : #F2FAFD;


// Alt colors
// Los colores van de 100 en 100, 500 es el principal; de 500 hacia arriba son los colores claros, y hacia abajo oscuros

// Colores oscuros primarios
$primary-400 : #194305 ;
$primary-300 : #163A05 ;
$primary-200 : #123004 ;
$primary-100 : #0F2703 ;

// Colores claros primarios
$primary-600 : #307F0A ;
$primary-700 : #42B00E ;
$primary-800 : #55E212 ;
$primary-900 : #74F039 ;

// Colores oscuros secundarios
$primary-400 : #4B1205 ;
$primary-300 : #410F05 ;
$primary-200 : #360D04 ;
$primary-100 : #2B0A03 ;

// Colores claros secundarios
$primary-600 : #871F09 ;
$primary-700 : #B82B0D ;
$primary-800 : #E93610 ;
$primary-900 : #F15B3C ;


// Colores oscuros terciarios
$primary-400 : #D4B30B ;
$primary-300 : #B6990A ;
$primary-200 : #978008 ;
$primary-100 : #796606 ;

// Colores claros terciarios
$primary-600 : #F4D22B ;
$primary-700 : #F5D949 ;
$primary-800 : #F7DF68 ;
$primary-900 : #F7DF68 ;


// Colores oscuros bg dark
$bgDark-400 : #20272A ;
$bgDark-300 : #1C2224 ;
$bgDark-200 : #171C1E ;
$bgDark-100 : #131718 ;

// Colores claros bg dark
$bgDark-600 : #3C494E ;
$bgDark-700 : #53656C ;
$bgDark-800 : #6A818A ;
$bgDark-900 : #879BA2 ;


// Colores oscuros bg light
$bgLight-400 : #BCE5F5 ;
$bgLight-300 : #87D1ED ;
$bgLight-200 : #51BCE4 ;
$bgLight-100 : #21A5D7 ;

// Colores claros bg light
$bgLight-600 : #F4FBFD ;
$bgLight-700 : #F5FBFE ;
$bgLight-800 : #F7FCFE ;
$bgLight-900 : #F9FDFE ;


// Colors heading en text

$headingDark : #252D30 ;
$headingLight : #F2FAFD ;

$textDark : #252D30 ;
$textLight : #F2FAFD ;
// $primary400 : # ;